<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="stylesheet" href="/style.css" />
    <script>
      function updateFileName(input) {
        const fileNameDisplay = document.getElementById("fileNameDisplay");
        const fileName = input.files[0]?.name || "No file chosen";
        fileNameDisplay.textContent = fileName;
      }

      function toggleEditMenu(event, fileId) {
        event.stopPropagation();
        const editMenu = document.getElementById(`edit-menu-${fileId}`);
        editMenu.style.display =
          editMenu.style.display === "block" ? "none" : "block";
      }

      function navigateTo(url) {
        window.location.href = url;
      }

      function downloadFile(filename) {
        window.location.href = `/files/${filename}`;
      }
    </script>
  </head>
  <body>
    <header>
      <h1 class="header-title">File Uploader</h1>
      <div class="header-right">
        <% if (user) { %>
        <p class="username"><%= user.username %></p>
        <a class="header-link" href="/">Home</a>
        <a class="header-link" href="/logout">Logout</a>
        <% } else { %>
        <a class="header-link" href="/login">Login</a>
        <a class="header-link" href="/signup">Sign Up</a>
        <% } %>
      </div>
    </header>
    <main>
      <h2>Files</h2>
      <div class="file-folder-actions">
        <!-- File Upload Form -->
        <form
          action="/folders/<%= folder.id %>/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="fileInput" class="custom-file-label">Choose File</label>
            <input
              type="file"
              class="form-control-file"
              id="fileInput"
              name="uploaded_file"
              onchange="updateFileName(this)"
            />
            <p id="fileNameDisplay">No file chosen</p>
            <input
              class="sub-header-button"
              type="submit"
              value="Upload File"
            />
          </div>
        </form>
      </div>

      <!-- Files Table -->
      <table class="files-folders-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size</th>
            <th class="actions-column">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (files && files.length > 0) { %> <% files.forEach(function
          (file) { %>
          <tr
            class="file-folder"
            onclick="navigateTo('/files/<%= file.name %>')"
            style="cursor: pointer"
          >
            <td class="file-name">
              <img class="row-icons" src="/file.svg" alt="File Icon" />
              <%= file.originalName %>
            </td>
            <td class="td-size">(<%= (file.size / 1024).toFixed(2) %> KB)</td>
            <td class="actions-column">
              <button
                class="file-folder-button"
                type="button"
                onclick="downloadFile('<%= file.name %>')"
              >
                Download
              </button>
              <form
                action="/files/delete"
                method="post"
                style="display: inline"
              >
                <input type="hidden" name="fileId" value="<%= file.id %>" />
                <button class="file-folder-button" type="submit">Delete</button>
              </form>
            </td>
          </tr>
          <% }); %> <% } else { %>
          <tr>
            <td colspan="3" style="text-align: center">No files available</td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </main>
    <footer></footer>
  </body>
</html>
